@if (card.monster && !card.action) {
  <app-monster-card [monster]="card.monster" [front]="front" [back]="back" [print]="true" />
}

@if (card.action) {
  <app-action-card
    [action]="card.action"
    [actorName]="card.actorName"
    [actorReference]="card.actorReference"
    [front]="front"
    [back]="back"
    [print]="true"
  />
}

@if (card.equipment) {
  <app-equipment-item-card [item]="card.equipment" [front]="front" [back]="back" [print]="true" />
}

@if (card.encounter) {
  <app-encounter-card [encounter]="card.encounter" [front]="front" [back]="back" [print]="true" />
}

@if (card.character && !card.characterAction) {
  <app-character-card [character]="card.character!" [front]="front" [back]="back" [print]="true" />
}

@if (card.characterAction) {
  <app-character-action-card
    [character]="card.character!"
    [action]="card.characterAction"
    [front]="front"
    [back]="back"
    [print]="true"
  />
}
@if (card.loot) {
  <app-loot-card [loot]="card.loot" [front]="front" [back]="back" [print]="true" />
}

@if (card.locationEvent) {
  <app-location-event-card
    [locationEvent]="card.locationEvent!"
    [front]="front"
    [back]="back"
    [print]="true"
  />
}
