@if (card.monster && !card.action) {
  <app-monster-card [monster]="card.monster" [front]="front" [back]="back" [print]="true" />
}

@if (card.action) {
  <app-action-card
    [action]="card.action"
    [actorName]="card.monster?.name"
    [actorReference]="card.monster?.reference"
    [front]="front"
    [back]="back"
    [print]="true"
  />
}

@if (card.encounter) {
  <app-encounter-card [encounter]="card.encounter" [front]="front" [back]="back" [print]="true" />
}

@if (card.character && !card.characterAction) {
  <app-character-card [character]="card.character!" [front]="front" [back]="back" [print]="true" />
}

@if (card.characterAction) {
  <app-character-action-card
    [character]="card.character!"
    [action]="card.characterAction"
    [front]="front"
    [back]="back"
    [print]="true"
  />
}
