<div class="action">
  <div class="column">
    <div class="row">
      <app-print-card-thumbnail [card]="card"></app-print-card-thumbnail>

      <mat-button-toggle-group [(ngModel)]="action!.initiative">
        <mat-button-toggle [value]="'1'">1</mat-button-toggle>
        <mat-button-toggle [value]="'2'">2</mat-button-toggle>
        <mat-button-toggle [value]="'3'">3</mat-button-toggle>
      </mat-button-toggle-group>
      <app-edit-card-attributes [attributes]="action!.attributes!" />
      <button matButton (click)="remove.emit()">
        <mat-icon class="toolbar-icon">delete</mat-icon>
      </button>
      <mat-form-field class="small">
        <mat-label>Count</mat-label>
        <input matInput #input [(ngModel)]="action!.count" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput #input class="action-name" [(ngModel)]="action!.name" />
      </mat-form-field>
    </div>
    <mat-form-field class="step-type">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="action.type">
        <mat-option [value]="'MOVE'">Move</mat-option>
        <mat-option [value]="'ATTACK'">Attack</mat-option>
      </mat-select>
    </mat-form-field>

    @switch (action.type) {
      @case ('MOVE') {
        <mat-form-field class="action-subtype">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="action.subtype">
            <mat-option [value]="'MOVE_WALK'">Normal</mat-option>
            <mat-option [value]="'MOVE_FLY'">Flying</mat-option>
            <mat-option [value]="'MOVE_TELEPORT'">Teleport</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="step-range">
          <mat-label>Range</mat-label>
          <input matInput #input [(ngModel)]="action.range" />
        </mat-form-field>
      }
      @case ('ATTACK') {
        <mat-form-field class="step-range">
          <mat-label>Range</mat-label>
          <input matInput #input [(ngModel)]="action.range" />
        </mat-form-field>
        <app-edit-damage [damage]="action.damage!" />
      }
    }
  </div>
</div>
