.action {
.   margin: 20px;
    padding: 50px;
    border-radius: 40px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
}