.container {
    height: 50px;
    width: 50px;
}


.dropping {
    animation: dropping-animation 2s infinite;
}

.editing-column {
    display: flex;
    flex-direction: column;
}

@keyframes dropping-animation {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}