.count-field {
    width: 50px;
}
.order-field {
    width: 50px;
}

/* You can also directly target the element */
mat-form-field {
    height: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.mdc-text-field__input {
    font-size: 5px important;
    
}

 .mat-mdc-form-field-infix {
    padding-top: 0px;
}

.action {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    gap: 10px;    
}

.action-step {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;    
}
.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    height: 90px;
}

.action-step {
    border-radius: 10px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-between;
    gap: 10px;
    height: 90px;
}
.column {
    display: flex;
    flex-direction: column;
}

.step-range {
    width: 60px;
}

.step-type {
    width: 100px;
}
.step-subtype {
    width: 100px;
}
.step-damage {
}
.step-description {
    width: 300px;
}

.small {
    width: 80px;
}