<div class="action">
  <div class="column">
    <div class="row">
      <mat-form-field class="count-field" appearance="outline">
        <input matInput #input [(ngModel)]="action!.count" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput #input class="action-title" [(ngModel)]="action!.title" />
      </mat-form-field>
      <mat-button-toggle-group [(ngModel)]="action!.initiative">
        <mat-button-toggle [value]="'1'">1</mat-button-toggle>
        <mat-button-toggle [value]="'2'">2</mat-button-toggle>
        <mat-button-toggle [value]="'3'">3</mat-button-toggle>
      </mat-button-toggle-group>
      <button matButton (click)="remove.emit()">
        <mat-icon class="toolbar-icon">delete</mat-icon>
      </button>
      <mat-form-field class="order-field" appearance="outline">
        <mat-label>#</mat-label>
        <input matInput #input [(ngModel)]="action!.order" />
      </mat-form-field>
      <app-print-card-thumbnail [card]="card" />
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput #input [(ngModel)]="action.description" cols="40" rows="1"></textarea>
      </mat-form-field>
      <app-edit-card-attributes [attributes]="action!.attributes!" />
    </div>
    <div class="action-steps">
      @for (step of action!.steps; track step) {
        <div class="action-step">
          <div>
            {{ $index }}
          </div>

          @switch (step.type) {
            @case ('MOVE') {
              Move
              <mat-form-field class="step-subtype" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="step.subtype">
                  <mat-option [value]="'MOVE_WALK'">Normal</mat-option>
                  <mat-option [value]="'MOVE_FLY'">Flying</mat-option>
                  <mat-option [value]="'MOVE_TELEPORT'">Teleport</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="step-range" appearance="outline">
                <mat-label>Range</mat-label>
                <input matInput #input [(ngModel)]="step.range" />
              </mat-form-field>
            }
            @case ('ATTACK') {
              Attack
              <mat-form-field class="step-range" appearance="outline">
                <mat-label>Range</mat-label>
                <input matInput #input [(ngModel)]="step.range" />
              </mat-form-field>
              <app-edit-damage [damage]="step.damage!" />
            }
            @case ('DEFENCE') {
              Defence
              <app-edit-defence [defence]="step.defence"></app-edit-defence>
            }
          }
          <mat-form-field class="step-description" appearance="outline">
            <mat-label>Name</mat-label>
            <textarea matInput #input [(ngModel)]="step.name" cols="20" rows="1"></textarea>
          </mat-form-field>
          <mat-form-field class="step-description" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput #input [(ngModel)]="step.description" cols="20" rows="1"></textarea>
          </mat-form-field>
          <button matButton (click)="removeStep($index)">
            <mat-icon class="toolbar-icon">delete</mat-icon>
          </button>
        </div>
      }
    </div>
    <div class="row">
      <button matButton="filled" (click)="addStep('MOVE')">+ Move</button>
      <button matButton="filled" (click)="addStep('ATTACK')">+ Attack</button>
      <button matButton="filled" (click)="addStep('DEFENCE')">+ Defence</button>
    </div>
  </div>

  @if (characterClass) {
    <button matButton="filled" (click)="makeStandardAction()">
      Make standard {{ characterClass }} action
    </button>
  }
</div>
