.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.preview {
  transform: scale(50%, 50%);
}

.card-side {
  background-color: white;
  border-radius: 5mm;
  border: 1mm solid black;
  width: 58mm !important;
  height: 88mm !important;
}






.card-inner-frame-front {
  margin: 1mm;
  border-radius: 5mm;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.horizontal {
  height: 58mm;
  width: 88mm;
  transform: rotate(-90deg) translate(-15mm, -15mm);
}

.card-inner-frame-back {

}

.front-top {
  font-size: 8mm;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 7mm;
}

.back-top {
  font-size: 8mm;
  font-weight: bold;
  line-height: 9mm;
  font-family: Helvetica, sans-serif;
  text-align: center;
  padding-top: 7mm;
  flex-grow: 1;
  word-wrap: break-word;

}

.back-description {
  font-size: 4mm;
  text-align: center;
  flex-grow: 1;

}

.vfold {
  width: 1mm;
  background-color: black;
}
.vcut {
  width: 1mm;
  background-color: black;
}

.back-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.back-symbol {
  height: 20mm;
  padding-bottom: 10mm;
}
.back-logo {
  height: 7mm;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2mm;
    width: 100%;
}

.summary-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-right: solid 0.3mm black;
    padding-right: 4mm;
    padding-left: 2mm;
    padding-top: 4mm;
}
.data-column {
  padding-top: 5mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 5mm;
    overflow: hidden;

}

.main-stats {
    font-size: 8mm;
    display: flex;
    flex-direction: row;
    gap:3mm;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.stats {
    display: flex;
    flex-direction: row;
    gap:3mm;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-reference {

    font-size: 7mm;
    font-weight: bold;
    padding-top: 2mm;
    padding-bottom: 1mm;
}
.front-name {
    font-size: 6mm;
    font-weight: bold;
    padding-bottom: 3mm;
}


.front-image {
    width: 35mm;
    border-radius: 3mm;
}

.front-image-frame {
    padding: 1mm;
    margin: 2mm;
//     border-radius: 3mm;
//     background-color: darkgray;
}

.back-image {
    width: 20mm;
    border-radius: 2mm;
}

.back-image-frame {
    padding: 1mm;
//     border-radius: 2mm;
    // background-color: black;
}