.card-preview-container {
  display: flex;
  flex-direction: row;
  justify-content: start;

}
.card-preview-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.card-preview-entry {
  background-color: gray;
  border: solid black;
}

.preview {
}