<app-editable-table [info]="lootEntity" [array]="loot" [(selectedRow)]="selectedLoot">
  @if (selectedLoot) {
    <div class="loot">
      <div class="loot-info">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selectedLoot!.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="selectedLoot!.description" rows="5" cols="40"> </textarea>
        </mat-form-field>

        <app-edit-card-attributes [attributes]="selectedLoot!.attributes!" />
      </div>
      <div class="loot-rows">
        @for (row of selectedLoot.rows; track $index) {
          <div class="loot-row">
            <app-edit-image [(image)]="row.image" />

            <button matButton (click)="removeRow($index)">
              <mat-icon>delete</mat-icon>
            </button>
            <button matButton="filled" (click)="cloneRow(row)">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        }
        <div class="add-buttons">
          @for (image of lootImages; track image) {
            <button matButton="filled" (click)="addRow(image)">
              <app-image [name]="image" [size]="'SMALL'" />
            </button>
          }
        </div>
        <input
          type="file"
          id="imageUpload"
          accept=".png, .jpg, .jpeg"
          (change)="dropFiles($event)"
        />
      </div>
      <button matButton="filled" (click)="cloneEntry()"><mat-icon>content_copy</mat-icon></button>
    </div>
  }
</app-editable-table>
