<div class=",kks">
  <app-editable-table [info]="lootEntity" [array]="loot" [(selectedRow)]="selectedLoot">
    @if (selectedLoot) {
      <div class="loot">
        <div class="loot-info">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="selectedLoot!.name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="selectedLoot!.description" rows="5" cols="40">
            </textarea>
          </mat-form-field>
        </div>
        <div class="loot-rows">
          @for (row of selectedLoot.rows; track $index) {
            <div class="loot-row">
              <mat-form-field>
                <mat-label>Count</mat-label>
                <input matInput [(ngModel)]="row.count" />
              </mat-form-field>

              <app-edit-monster-reference [(reference)]="row.itemReference" />
              <button matButton (click)="removeRow($index)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          }
        </div>
        <button matButton="filled" (click)="addRow()">Add row</button>
      </div>
    }
  </app-editable-table>
</div>
