@if (front || back) {
  <div class="card" [class.preview]="!print" (click)="click.emit(loot!)">
    @if (front) {
      <div class="card-side">
        <div class="card-inner-frame-front">
          <div class="card-surface card-surface--front card-surface--loot">
            <div class="front-top-section"></div>
            <div class="front-middle-section">
              <app-loot-token [value]="loot?.tokenId" [width]="'35mm'" [height]="'35mm'" />
            </div>
            <div class="front-bottom-section">
              <div class="front-description">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }

    @if (front && back) {
      <div class="vfold"></div>
    }
    @if (back) {
      <div class="card-side">
        <div class="card-inner-frame-back">
          <div class="card-surface card-surface--back card-surface--loot">
            <div class="back-top-section">
              <div class="back-title">
                {{ loot?.name }}
              </div>
              @if (loot?.description) {
                <div class="back-description">
                  {{ loot?.description }}
                </div>
              }
            </div>
            <div class="rows">
              @for (row of loot!.rows; track row) {
                <div class="row">
                  <app-image [name]="row.image!" [size]="imageSize" />
                </div>
              }
            </div>
            <div class="back-bottom-section">
              <app-card-attributes [attributes]="loot?.attributes!" />
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
