
.edit-monster-pane {
  display: flex;
  flex-direction: row;
}

.table {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-preview-entry {
  background-color: gray;
}

.event-card {
  background-color: white;
  border-radius: 5mm;
  border: 1mm solid black;
  width: 58mm;
  height: 88mm;
}

.preview {
  transform: scale(50%, 50%);
}