@if (front || back) {
  <div class="card" [class.preview]="!print">
    @if (front) {
      <div class="card-side">
        <div class="card-inner-frame-front">
          <div class="top-section"></div>
          <div class="middle-section">
            <app-event-token [value]="locationEvent!.id" />
          </div>
          <div class="bottom-section"></div>
        </div>
      </div>
    }

    @if (front && back) {
      <div class="vfold"></div>
    }
    @if (back) {
      <div class="card-side">
        <div class="card-inner-frame-back">
          <div class="back-title">
            {{ locationEvent.name }}
          </div>

          <div class="back-description">{{ locationEvent.description }}</div>
          <div class="back-bottom-section"></div>
        </div>
      </div>
    }
  </div>
}
