table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.edit-monster-pane {
  display: flex;
  flex-direction: row;
}

.table {
  width: 100%;
}

.card-preview-list {
  display: flex;
  flex-direction: row;
}