.container {
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.editor-column {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview {
  padding: 20px;
  background-color: darkgray;
  border-radius: 10px;
}

.preview-card {
  width: 100px;
}