.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.short {
    width: 60px;
}

.stat {
    display: flex;
    flex-direction: column;
    width: 60px;
    align-items: center;
    justify-items: center;
}

.medium {
    width: 100px;
}

.small {
    width: 60px;
}

.card-preview-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-preview-entry {
  background-color: gray;
  border: solid black;
}

.action-row {
    display: flex;
    flex-direction: row;
}
.action-column {
    display: flex;
    flex-direction: column;
}

.action-title {
    width: 200px;
}

