.container {
  display: flex;
  flex-direction: row;
}

.preview-parent {
  position: relative;
}

.preview-small {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 100;
}

.preview-large {
  position: absolute;
  left: -390px;
  top: -130px;
  z-index: 100;
  transform: scale(50%, 50%);
}
    
.container {
    width: 30px;
    height: 30px;
}

.thumbnail-icon {
}

.thumbnail-small {
  width: 10px;
  transform: scale(20%, 20%);
}   

.thumbnail-large {
  height: 10px;
  width: 10px;
  transform: scale(20%, 20%);
}   
 