@if (action) {
<h1>Update action</h1>
}
@else
{
<h1>New action</h1>
}
<div class="row">
    <mat-form-field class="medium">
        <mat-label>Initiative</mat-label>
        <input matInput #input maxlength="10" [(ngModel)]="action!.initiative" />
    </mat-form-field>
    <mat-form-field class="medium">
        <mat-label>Title</mat-label>
        <input matInput #input maxlength="10" [(ngModel)]="action!.title" />
    </mat-form-field>

</div>
<div class="row">


</div>
<div class="row">
</div>

<button matButton (click)="save()">
    Save
</button>
<button matButton (click)="cancel()">
    Cancel
</button>