.SMALL {
    height: 25px;
}

.MEDIUM {
    height: 30px;
}

.LARGE {
    height: 50px;
}
.CARD_TINY {
    height: 15mm;
}
.CARD_SMALL {
    height: 20mm;
}
.CARD_MEDIUM {
    height: 25mm;
}
.CARD_LARGE {
    height: 40mm;
}
.SELECT {
    height: 30px;
}