.SMALL {
    height: 25px;
}

.MEDIUM {
    height: 30px;
}

.LARGE {
    height: 50px;
}
.CARD_TINY {
    height: 15mm;
}
.CARD_SMALL {
    height: 20mm;
}
.CARD_MEDIUM {
    height: 25mm;
}
.CARD_LARGE {
    display: block;
    max-height: 30mm;
    width: auto;
  height: auto;
}
.SELECT {
    height: 30px;
}