<div class="container">
  <div class="row">
    <app-resource-reference [path]="monster!.image" [thumbnail]="false" />
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="monster!.description" rows="5" cols="40"> </textarea>
    </mat-form-field>
    <app-print-card-thumbnail [card]="card" />
  </div>
  <app-edit-actions [actions]="monster!.data!.actions!" />

  <button matButton [routerLink]="'/print/monsters'" [queryParams]="{ ids: monster!.id }">
    Print
  </button>
  <button
    matButton
    [routerLink]="'/print/monsters'"
    [queryParams]="{ ids: monster!.id, actions: true, monsters: false }"
  >
    Print actions
  </button>
</div>
