.container {
    margin: 20px;
    padding: 50px;
    border-radius: 40px;
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.short {
    width: 60px;
}

.stat {
    display: flex;
    flex-direction: column;
    width: 40px;
    align-items: center;
}

.medium {
    width: 100px;
}


.card-preview-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-preview-entry {
  background-color: gray;
  border: solid black;
}
