.filled-dot {
	height: 6mm;
	width: 6mm;	
	border-radius: 50%;
	background-color: black;
}

.number-dot {
	height: 5mm;
	width: 5mm;	
	border-radius: 50%;
	border: 1mm solid black;
	color: black;
	text-align: center;
	font-weight: bold;
}