<table class="container">
  <tr class="header-row">
    @for (field of fields(); track field.name) { 
      @if (field.icon) {
        <th><app-icon [type]="field.icon" /></th>
      } @else {
        <th>{{ field.label }}</th>
      } @if (editable) { 
          @if (editing) {
          <button matButton (click)="startEditing()" matTooltip="Save">
            <mat-icon class="toolbar-icon">check</mat-icon>
          </button>
        } 
        @else 
        {
          <button matButton (click)="endEditing()" matTooltip="Delete">
            <mat-icon class="toolbar-icon">edit</mat-icon>
          </button>
        } 
      } 
    }
  </tr>
  @for (row of data(); track row) {
    <tr class="row" (click)="rowClick($index, row)" [class.selectable-row]="!editable">
      @for (field of fields(); track field.name) {
      <td>
        @switch (field.type) { @case ('string') { @if (editable && editingRow == row &&
        field.editable) {
        <input type="text" [(ngModel)]="row[field.name]" />
        } @else {
        <div (click)="setEditing(row, true)">{{ row[field.name] }}</div>
        } } @case ('text') { @if (editable && editingRow == row && field.editable) {
        <textarea [(ngModel)]="row[field.name]" rows="3" cols="20"> </textarea>
        } @else {
        <pre (click)="setEditing(row, true)">{{ row[field.name] }}</pre>
        } } @case ('number') { @if (editable && editingRow == row && field.editable) {
        <input type="text" [(ngModel)]="row[field.name]" class="number-input" size="2" />

        } @else {
        <div (click)="setEditing(row, true)">{{ row[field.name] }}</div>
        } } @case ('enum') { @if (editable && editingRow == row && field.editable) {
        <mat-select [(ngModel)]="row[field.name]">
          @for (value of field.values; track $index) {
          <mat-option [value]="value">{{ value }}</mat-option>
          }
        </mat-select>
        } @else {
        <div (click)="setEditing(row, true)">{{ row[field.name] }}</div>
        } } @case ('image') { @if (editable && editingRow == row && field.editable) {
        <app-resource-reference [path]="row[field.name]" />
        } @else {
        <div (click)="setEditing(row, true)">
          <app-resource-reference [path]="row[field.name]" />
        </div>
        } } @case ('boolean') {
        <div (click)="setEditing(row, true)">
          <mat-checkbox
            [(ngModel)]="row[field.name]"
            [disabled]="!editable || editingRow != row || !field.editable"
          ></mat-checkbox>
        </div>
        } @case ('actions') { } }
      </td>
      }
    </tr>
  }
</table>
<button matButton (click)="newRow()" matTooltip="Add">
  <mat-icon class="toolbar-icon">add</mat-icon>
</button>
