.number-input {
    width: 10px;
}
.container {
    width: 100%;
}
table {
  border-collapse: collapse;
}
.header-row {
    border-bottom: solid 2px;
}
.row {
    border-bottom: solid 1px;
}

.selectable-row:hover {
    background-color: lightgray;
}