.number-input {
    width: 10px;
}
.container {
    width: 100%;
}
table {
  border-collapse: collapse;
}
.header-row {
    border-bottom: solid 2px;
}
.row {
    border-bottom: solid 1px;
}

.selectable-row:hover {
    background-color: lightgray;
}
.selected-row {
    background-color: wheat
}

.buttons-column {
    width: 30px;
}
.column-number {
    width: 20px;
}
.column-reference {
    width: 100px;
}
.column-enum {
    text-align: left;
    width: 120px;
}
.column-string {
    padding-left: 10px;
    text-align: left;
}

.column-image {
    width: 120px;
}
.dropping {
    animation: dropping-animation 2s infinite;
}

.editing-column {
    display: flex;
    flex-direction: column;
}

@keyframes dropping-animation {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}
