.SMALL {
    width: 25px;
}

.TINY {
    width: 5mm;
}

.MEDIUM {
    width: 30px;
}

.LARGE {
    width: 50px;
}
.SELECT {
    height: 30px;
}

.icon-container {
    display: flex;
    flex-direction: row;
}