@if (front || back) {
  <div class="card" [class.preview]="!print">
    @if (front) {
      <div class="card-side">
        <div class="card-inner-frame-front">
          <div class="front-top-section">
            <div>
              <app-initiative-token [value]="action?.initiative" />
            </div>
          </div>
          <div class="front-bottom-section">
            <img src="/public/images/symbols/actions.svg" class="action-symbol" />
            <div class="front-description">
              <div>{{ character?.name }}</div>
            </div>
          </div>
        </div>
      </div>
    }

    @if (front && back) {
      <div class="vfold"></div>
    }
    @if (back) {
      <div class="card-side">
        <div class="card-inner-frame-back">
          <div class="back-top-section">
            <div>{{ character?.name }}</div>
            <div class="action-title">{{ action?.name }}</div>
            <div class="action-description">{{ action?.description }}</div>
          </div>
          <div class="action-steps">
            <div class="action-step">
              @switch (action.type) {
                @case ('ATTACK') {
                  <div class="action-step-row">
                    <div class="attack-name">{{ action.attackName }}</div>
                  </div>
                  <div class="action-step-row">
                    @if (action.range) {
                      <app-range-symbol [value]="action.range!" />
                    }
                    <div class="attack-damage">
                      <app-attack-values [damage]="action.damage" />
                    </div>
                  </div>
                }
                @default {
                  <div class="action-step-row">
                    <div class="move-type">
                      <app-icon [type]="action.subtype!" />
                    </div>
                    <div class="move-range">
                      {{ action.range }}
                    </div>
                  </div>
                }
              }
            </div>
          </div>
          <div class="back-bottom-section">
            @if (action?.attributes) {
              <app-card-attributes [attributes]="action?.attributes!" />
            }
          </div>
        </div>
      </div>
    }
  </div>
}
