<div class="container">
  <div class="general">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="scene!.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="scene!.description" rows="3" cols="40"> </textarea>
    </mat-form-field>
    <button matButton="filled" (click)="addEncounterType()">Add encounter type</button>
    <button matButton="filled" (click)="addLootType()">Add loot type</button>
  </div>
  <div class="parts">
    <mat-tab-group dynamicHeight>
      <div class="encounter-types">
        <mat-tab>
          <ng-template mat-tab-label>
            <app-event-token [value]="'?'" width="25px" height="25px" />
          </ng-template>
        </mat-tab>
        @for (encounterType of scene!.data?.encounterTypes; track encounterType.tokenId) {
          <mat-tab>
            <ng-template mat-tab-label>
              <app-encounter-token [value]="encounterType.tokenId" width="25px" height="25px" />
            </ng-template>

            <app-edit-encounters [encounters]="encounterType.encounters!"></app-edit-encounters>
          </mat-tab>
        }
        @for (lootType of scene!.data?.lootTypes; track lootType.tokenId) {
          <mat-tab>
            <ng-template mat-tab-label>
              <app-loot-token [value]="lootType.tokenId" />
            </ng-template>

            <app-edit-loot [loot]="lootType.loot!" />
          </mat-tab>
        }
      </div>
      <mat-tab>
        <ng-template mat-tab-label>
          <app-time-token [value]="'A'" width="40px" height="40px" />
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <app-icon [type]="'SACK'" />
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <app-icon [type]="'BARREL'" />
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <app-icon [type]="'CRATE'" />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
