/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-font: Helvetica, sans-serif;

$card-font-size-header: 4mm;


$card-font-size-text: 3mm;

.container  {
	font-size: 6mm;
	line-height: 7mm;
	text-align: center;
}

.expression-symbol {
	height: 4mm;
	paqdding: 1mm;
}

.expression-symbol-large {
	height: 8mm;
	paqdding: 1mm;
}

